*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: rgb(168, 139, 160);
    color: black;
}

:root{
    scroll-behavior: smooth;
    --colorTexto: #0c0c0c;

}

body {
    font-family: 'Croissant One', serif;
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}


/* html contacto*/

.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #e6b980;
    padding-top: 20px;
}
 iframe{
    justify-content: center;
    align-items: center;
 }
.ubicacion{
    justify-content: center;
    align-items: center;
    color: #0a0a0a;
}
form{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    padding: 40px 0;
    box-shadow: 0 0 6px;
    border-radius: 10px;
}
form.formulario{
    position: absolute;
    margin: 45px;

}
input{
    background: none;
    color: hwb(0 5% 95%);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos)
}

.comentario{
    background-color: #13ff13;
    padding: 10px 10px 10px 5px;
    display: block;
    border: 2px;
    color: #0c0c0c;

}
textarea{
    resize: none;
    border: 2px;
    color: #0c0c0c;

}


.contactoPadre{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}

.contactoHijo{
    
    display: flex;
    flex-direction: column;

}



/* html menu */

.menuPadre{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(/img/menuFondo2.jpg);
    background-size: contain;
}

.menuHijo{
    display: flex;
    flex-direction: column;
    width: 22%;
    min-width: 250px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0.2%;
}

.imagenMenu {
    position: relative;
}

.imagenMenu img {
    width: 100%;
    height: auto;
    border: solid white 5px;
    border-radius: 45%;
    perspective: 1000px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    aspect-ratio: 1/1;
    background-color: #b9b4ac;
}

.descripcion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s;
    font-size: 1.2em;
    font-weight: bold;
}

.imagenMenu:hover .descripcion {
    opacity: 1;
}


header{
    height: 50vh;
    background-image: linear-gradient(120deg, rgba(246, 212, 101, 0.514) 0%, rgba(253, 159, 133, 0.486) 100%), url(../img/img-portada.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center ;
}
.head{
    text-align: center;
    padding-left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);

}

.hamburguesa{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 6px rgb(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    transform: translate(100%);
    z-index: 1000;
}

.spread{
    transform: translate(0);
}
.menu-navegacion a{
    color: #6b6a6a;
    text-decoration: none;
    font-size: 25px;
}

.menu-navegacion a::before{
    color: rgb(70, 47, 47);
    margin-right: 5px;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
    color: #fff
}
.copy{
    font-weight: 300;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    font-weight: bold;
    color: chocolate;
    margin-bottom: 40px;
    font-size: 40px;
}
.sidetext{
    text-align: center;
font-weight: 300;
color: chocolate;
margin-bottom: 40px;
font-size: 40px;
}

.contenedor-cafe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.img-conversando{
    width: 40%;
}
.contenedor-texto-cafe{
    width: 45%;
}

.galeria{
    background: #fff;
}


.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imag-galeria{
    object-fit: cover;
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-ligth{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}
.agregar-imagen{
    object-fit: cover;
    width: 30%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}
.showImagen{
    transform:scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}


.footer{
  
    background: rgba(235, 171, 52, 0.651);
    padding-bottom: 0.1px;
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.marca{
font-weight: 500;
font-size: 40px;

}
  .marca+p{
    font-weight: 500;
  }  
.redes-sociales{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}
.marketing-iconos{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #e6b980;

}
.marketing-iconos:hover{
    background: #fff;
    color: rgb(170, 56, 4);
}

.redes-sociales i{
    font-size: 30px;
    line-height: 60px;

}


.contacto-usuario{
    width: 40%;
    color: #fff;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: rgb(170, 56, 4);
    margin-bottom: 60px;
}


@media screen and (max-width:800px){
    .menu-navegacion{
        width: 35vw;
    }
    .titulo{
        font-size: 40px;
    }
    .img-conversando{
        width: 80%;
        margin-bottom: 40px;
    }
    .copy{
        width: 80%;
        margin-bottom: 30px;
    }
    .agregar-imagen{
        width: 80%;
    }
    .imag-galeria{
        width: 45%;
    }
    .footer-content{
        justify-content: center;
    }
    .redes-sociales{
        width: 80%;
        justify-content: space-evenly;
    }
    .marketing-iconos{
        margin-left: 0;
    }
    .redes-sociales i{
        margin-left: 0;
    }
    .contacto-usuario{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }
}

@media screen and (max-width:500px){
    .menu-navegacion{
        width: 50vw;
    }
    .agregar-imagen{
        width: 95%;
    }
    .hamburguesa{
        top: 20px;
        right: 20px;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 30px;
        font-weight: 100;
        margin-bottom: auto;
    }
    .copy{
        font-size: 20px;
    }
    .imag-galeria{
        width: 95%;
    }
    .redes-sociales{
        width: 100%;
    }
    .contacto-usuario{
        width: 90%;
    }
}

/* Estilo para Formulario*/

.form{
    margin: 0 auto;
    width: 300px;
    background-color: #fff;
    padding: 30px;
    color: #0c0c0c;
    font-size: 15px;
}
input, textarea{
    border: 0;
    outline: none;
}
.formulario{
    border: solid 1px #999;
    padding: 6px;

}
.boton{
    text-align: center;
}
.contenedor-formulario{
    background-color: #fff;
}
.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgb(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgb(0, 0, 0, 0.3);
}
.btn-color{
    color: #fff;
    background-color: chocolate;
}
.btn-color:hover{
    background-color: rgb(219, 107, 27);
}
.btn-color:active{
    background-color: rgb(230, 104, 15);
}

/* estilos de comentarios... API*/

.tarjeta{
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 1px solid rgb(15, 15, 15);
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    background-color: rgb(240, 142, 72);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.boton-1{
    color: #0a0a0ae5;
    
    box-shadow: 0 0 0 0 rgba(235, 164, 32, 0.7), 0 0 0 0 rgba(238, 100, 45, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background: #ecb46b;
    font-size: 25px;
}
.boton-1::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}
.boton-1:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(238, 100, 45, 0.5), -10px 10px 25px rgba(235, 164, 32, 0.7);
}
.boton-1:hover::after{
    transform: rotate(150deg);
}

